/Thesis on Infinite Scale Expansion (ISE).plain.pdf
/chapter_*.pdf
/Thesis on Infinite Scale Expansion (ISE).agentic.md
/Thesis on Infinite Scale Expansion (ISE) - Appendix.agentic.md
/Thesis on Infinite Scale Expansion (ISE).full.pdf
/*.log
/*.aux
/Thesis on Infinite Scale Expansion (ISE).full.md
/Thesis on Infinite Scale Expansion (ISE).full.tex
